[Unit]
Description=Prometheus server

[Service]
Type=simple
ExecStart={{ prometheus_dir }}/prometheus -config.file {{ prometheus_dir }}/prometheus.yml -storage.local.retention=168h

[Install]
WantedBy=default.target